<h1>Review Your Application</h1>
<h2><%= @student.first_name %> <%= @student.last_name %></h2>
<h3><%= @student.email %></h3>
<%- [:phone,:date_of_birth, :twitter, :personal_url,
    :employment_history, :employment_status,
    :application_reason, :tech_background,
    :tech_story, :site_critique, :discovery,
    :video, :program_selection, :seeking_job,
    :scholarship, :location, :commitments,
    :awareness, :anything_else].each do |entry| %>
  <p>
    <strong><%= entry.to_s.humanize.capitalize %>:</strong>
    <%- if entry == :date_of_birth %>
      <%=  @student.send(entry).strftime("%B %-d, %Y") %>
    <%- else %>
      <%= @student.send(entry) %>
    <%- end %>
    <%= link_to "revise this answer", edit_student_path(@student) %>
  </p>
<%- end %>
<%= link_to "complete application", complete_student_path(@student), class: "radius button twelve columns centered" %>
