<div class="row">
  <div class="twelve columns">
    <%= simple_form_for(current_student, :url => student_path) do |f|  %>

      <div class="row">
        <div class="six columns">
          <%= f.input :first_name, :label => 'First Name' %>
        </div>
        <div class="six columns">
          <%= f.input :last_name, :label => 'Last Name' %>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <%= f.input :phone, :label => 'Phone' %>
        </div>
        <div class="six columns">
          <%= f.input :date_of_birth, :as => :date, :start_year => Date.today.year - 90,
                                        :end_year => Date.today.year - 12,
                                        :order => [:month, :day, :year] %>
        </div>
      </div>

      <div class="row">
        <div class="six columns">
          <%= f.input :twitter, :label => 'Twitter' %>
        </div>
        <div class="six columns">
          <%= f.input :personal_url, :label => 'Personal URL' %>
        </div>
      </div>

      <% if student_signed_in? %>
        <%= f.submit 'Save Your Info', class: 'radius button twelve columns centered' %>
      <% else %>
        <%= link_to "Sign In", new_student_session_path %>
      <% end %>

    <% end %>
  </div>
</div>
