<li id="tab2Tab">
  <%= f.input :tech_background, :label => 'What is your background with computers/technology/programming?' %>
  <%= f.input :tech_story, :label => "The ideal candidate is someone who loves to solve problems or tinker and who doesn't easily give up.  Can you tell us a story that illustrates these qualities in you?" %>
  <%= f.input :site_critique, :label => 'What do you like and not like about our website?  What can we do better?' %>
  <%= f.input :discovery, :label => 'Please tell us something surprising or amusing that you have discovered.' %>
  <%= f.input :video, :label => 'Video link: It\'s not required but a short video gives you a chance to sell yourself to us in a way that text cannot.  To help make sure we like you, feel free to create a short video to support your application.  Put the link to the video here.' %>
</li>
