<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

<!-- Uncomment to make IE8 render like IE7 -->
<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title><%= content_for?(:title) ? yield(:title) : "Applicable" %></title>

<!-- Included CSS Files -->
<%= stylesheet_link_tag    "application" %>

<!-- Included JS Files  -->
<%= javascript_include_tag "application" %>

<%= csrf_meta_tags %>
</head>
<body>
  <header>
  <div class="row">
      <nav class="top-bar">
        <ul>
          <li class="name">
          <h1><%= link_to "Applicable: An NSS Application App", :root %></h1>
          </li>
          <li class="toggle-topbar"><a href="#"></a></li>
        </ul>
        <section>
        <ul class="right">
          <%- if student_signed_in? %>
            <li class="signed-in-as">Signed in as <%= current_student.email %></li>
            <li><%= link_to "Sign Out", destroy_student_session_path, method: :delete %></li>
          <%- elsif admin_user_signed_in? %>
            <li><%= link_to "Back to Admin Panel", admin_dashboard_path %></li>
          <%- else %>
            <li><%= link_to "Sign Up", new_student_registration_path %></li>
            <li><%= link_to "Sign In", new_student_session_path %></li>
          <%- end %>
        </ul>
        </section>
      </nav>
  </div>
  </header>
  <div id="wrap">
    <div id="main">
      <div class="container row">
        <div class="twelve columns">
          <%- if notice %>
            <div class="notice alert-box">
              <%= notice %>
              <a href="" class="close">&times;</a>
            </div>
          <%- elsif alert %>
            <div class="alert alert-box">
              <%= alert %>
              <a href="" class="close">&times;</a>
            </div>
          <%- end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="push"></div>
  <footer>
  <div class="twelve columns">
    <div class="container row">
      <div class="left">
        <h5><%= link_to "Applicable: An NSS Application App", :root %></h5>
      </div>
      <div class="right admin-link button radius"><%= link_to "Admin", admin_dashboard_path %></div>
      <div class="right footer-info">
        <div id="copyright">&copy; 2012</div>
      </div>
    </div>
  </div>
  </footer>
</body>
</html>
